<div class="container">
    <button routerLink="/admin/users" class="btn btn-outline-dark mb-3">Felhasználók kezelése</button>
    <button routerLink="/admin/orders" class="btn btn-outline-dark mb-3">Rendelések kezelése</button>
    <button routerLink="/admin/productlist" class="btn btn-outline-dark mb-3">Termékek oldal</button>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Felhasználó Regisztrálása</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="product-name" class="form-label">Név</label>
                        <input type="text" class="form-control" id="name" placeholder="A neved">
                    </div>

                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="text" class="form-control" id="email" placeholder="Bármilyen email elérhetőséged">
                    </div>

                    <div class="mb-3">
                        <label for="password" class="form-label">Jelszó</label>
                        <input type="password" class="form-control" id="password" placeholder="Jelszó">
                    </div>

                    <div class="mb-3">
                        <label for="password" class="form-label">Jelszó megerősítése</label>
                        <input type="password" class="form-control" id="password" placeholder="A jelszó újra">
                    </div>

                    <div class="d-flex justify-content-between">
                        <button type="submit" class="btn btn-outline-success">Regisztrálás</button>
                        <!-- Jobbra igazított bezárás gomb -->
                        <button type="button" class="btn btn-secondary ms-auto" data-bs-dismiss="modal">Bezárás</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>