<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bakelit Webshop</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./home.component.css">
</head>
<body style="background: url('assets/images/MainBackground.png') no-repeat center center fixed; background-size: cover;">
    <main class="main-container">
        <!-- Ha be van jelentkezve, a felhasználó nevét jelenítjük meg -->
        <h1 *ngIf="!isLoggedIn">{{ 'welcome_message' | translate }}</h1>
        <h1 *ngIf="isLoggedIn">{{ 'welcome_back' | translate }}, {{ userName }}!</h1>
        
        <p>{{ 'discover_best_vinyls' | translate }}</p>
        
        <div class="quote">{{ 'quote_1' | translate }}</div>
        <div class="quote">{{ 'quote_2' | translate }}</div>
        <div class="quote">{{ 'quote_3' | translate }}</div>
        
        <div class="button-container">
            <button routerLink="/products" class="btn btn-white">{{ 'explore' | translate }}</button>
            <button routerLink="/about" class="btn btn-white">{{ 'contact' | translate }}</button>
        </div>
        <div *ngIf="isAdmin" class="admin-buttons">
            <button routerLink="/users" class="btn btn-primary btn-lg shadow-sm">{{ 'manage_users' | translate }}</button>
            <button routerLink="/productlist" class="btn btn-secondary btn-lg shadow-sm">{{ 'manage_products' | translate }}</button>
            <button routerLink="/orders" class="btn btn-success btn-lg shadow-sm">{{ 'manage_orders' | translate }}</button>
        </div>
        
    </main>

    <script src="script.ts"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>