<div class="about-container text-center">
    <h1>Rólunk</h1>
    <h5>Kik és mik vagyunk?</h5>
    <p>
        Mi egy bakelit lemezekkel foglalkozó kisvállalkozás vagyunk, amely jelenleg Magyarországon működik. Webshopunk fejlesztésével három lelkes szakember foglalkozik. Lemezeink kizárólag második kézből érkeznek hozzátok, így minden darab egyedi történetet rejt magában.
    </p>
<div>
    <h1>Gyakran feltett kérdések (FAQ)</h1>
    <h5>Hogyan működtök?</h5>
    <p>A rendeléseiteket mi egy adatbázisban tároljuk, ahol a bakelit lemezeket egy második félnek továbbítjuk és ezeket szolgáltatjuk</p>
    <h5>Jogokat ezzel nem sértetek?</h5>
    <p>Nem, lemezeinkkel egy szolgáltatást nyújtunk miben a ti mp3 fileaitokat készítjük el a ti képeitekkel. Kereskedelembe meg nem hozzuk őket. </p>
    <h5>Használtan?</h5>
    <p>Lemezeink főoldalon használtan kerültek forgalomba, a lemezeiteket nálunk szeretnétek eladni a Vácdukai üzletünk megkeresesével érdeklődhetsz.</p>
    <h5>Formátumok?</h5>
    <p>Bármilyen mp3, mp4, WAV., WAV filet képesek vagyunk beolvasni törekedjeteket ezeket használni.</p>
</div>
</div>
