<div class="about-container text-center">
    <h1>{{ 'about_title' | translate }}</h1>
    <h5>{{ 'about_subtitle' | translate }}</h5>
    <p>
        {{ 'about_description' | translate }}
    </p>
    <h1>{{ 'faq_title' | translate }}</h1>
    <h5>{{ 'faq_question_1' | translate }}</h5>
    <p>{{ 'faq_answer_1' | translate }}</p>

    <h5>{{ 'faq_question_2' | translate }}</h5>
    <p>{{ 'faq_answer_2' | translate }}</p>

    <h5>{{ 'faq_question_3' | translate }}</h5>
    <p>{{ 'faq_answer_3' | translate }}</p>

    <h5>{{ 'faq_question_4' | translate }}</h5>
    <p>{{ 'faq_answer_4' | translate }}</p>
</div>