<h1 class="text-center mb-4 mt-5">Bakelit Lemezek</h1>

<!-- Kereső -->
<div class="container mt-4 mb-4">
  <div class="d-flex justify-content-center">
    <input type="text" (keyup.enter)="searchProducts()" [(ngModel)]="searchQuery" class="form-control w-50" placeholder="Keresés cím, előadó vagy műfaj alapján..">
    <button (click)="searchProducts()" class="searchbutton">Keresés</button>
  </div>
</div>

<section class="container mt-5" style="padding-top: 100px;">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4 justify-content-start">
    <div class="col" *ngFor="let product of filteredProducts">
      <div class="card h-100 shadow-sm border-0" style="transition: transform 0.3s, box-shadow 0.3s;">
        <div class="product-image-container">
          <img [src]="product.imageUrl" class="card-img-top" [alt]="product.title">
        </div>
        <div class="card-body d-flex flex-column">
          <h5 class="card-title text-darkblue">{{ product.title }}</h5>
          <p class="card-text text-muted">{{ product.artist }}</p>
        </div>
        <div class="card-body d-flex flex-column">
          <p class="card-text fw-bold text-dark">{{ product.price }} Ft</p>
          <button (click)="openPurchaseModal(product)" class="btn-buy">Kosárba</button>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Háttér elmosódás -->
<div *ngIf="showModal" class="modal-backdrop"></div>

<!-- Modális ablak (pop-up) -->
<div *ngIf="showModal" class="modal" tabindex="-1" style="display: block;">
  <div class="modal-dialog modal-custom">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Vásárlás megerősítése</h5>
        <button type="button" class="btn-close" (click)="closeModal()"></button>
      </div>
      <div class="modal-body">
        <!-- Termék kép -->
        <img [src]="selectedProduct.imageUrl" class="product-image-popup" alt="{{ selectedProduct.title }}">

        <!-- Termék neve és ára egy sorban -->
        <div class="product-info">
          <h4><strong>{{ selectedProduct.title }}</strong></h4>
          <h3 class="modal-price">{{ selectedProduct.price }} Ft</h3>
        </div>

        <div>
          <h5 class="text-muted">Előadó: {{ selectedProduct.artist }}</h5>
          <h6 class="text-muted">Műfaj: {{ selectedProduct.genre }}</h6>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-cancel" (click)="closeModal()">Mégsem</button>
        <button type="button" class="btn-buy" (click)="confirmPurchase()">Megerősítés</button>
      </div>
    </div>
  </div>
</div>
