body {
  font-family: 'Arial', sans-serif;
  background-color: #f7f7f7;
}

.card {
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: white;
}

.product-image-container {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e9ecef;
}

.product-image-container img {
  width: auto;
  max-height: 100%;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}

.card-body {
  padding: 15px;
}

.card-title {
  font-size: 1.2rem;
  color: #003366;
  font-weight: bold;
}

.card-text.text-muted {
  font-size: 1rem;
  color: #444444;
}

.card-text.fw-bold {
  font-size: 1.1rem;
  color: #343a40;
}

.btn-buy {
  background-color: #000;
  color: white;
  font-weight: bold;
  border: 2px solid transparent;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-buy:hover {
  background-color: #333;
}

.btn-cancel {
  background-color: transparent;
  color: #ff2727;
  font-weight: bold;
  border: 2px solid #ff2727;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.4s; 
}

.btn-cancel:hover {
  background-color: #ff2727;
  color: white;
  box-shadow: 0 0 8px 2px rgba(255, 77, 77, 0.8);
  border-color: #ff0000; 
}

.card:hover {
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.card-body.d-flex.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
  z-index: 1040;
}

body.modal-open {
  overflow: hidden;
}

.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 500px;
  z-index: 1050;
}

.modal-custom {
  width: 100%;
}

.modal-content {
  border-radius: 10px;
  overflow: hidden;
  max-height: 90vh; 
  display: flex;
  flex-direction: column;
}

.product-image-popup {
  width: 100%;
  max-width: 500px;
  height: 500px;
  object-fit: cover;
  border-radius: 1px;
}

.product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding: 5px 10px;
}

.product-details {
  text-align: left;
  flex-grow: 1;
}

.modal-price {
  font-weight: bold;
  text-align: right;
  min-width: 100px;
}

.modal-body {
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
}

.product-meta {
  text-align: left;
  padding-left: 10px;
}

.card-text.text-muted {
  margin-top: 10px;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
}

.searchbar {
  width: 100%;
  max-width: 400px;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 30px 0 0 30px;
  font-size: 16px;
  color: #333;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.searchbar:focus {
  border-color: #1a1a1a;
  box-shadow: 0 2px 8px rgba(26, 26, 26, 0.3);
  outline: none;
}

.searchbutton {
  background-color: #1a1a1a;
  color: white;
  font-weight: 600;
  font-size: 15px;
  padding: 10px 20px;
  border: none;
  border-radius: 0 30px 30px 0;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.searchbutton:hover {
  background-color: #333333;
}

.searchbutton:active {
  background-color: #646464;
  transform: scale(0.98);
}

@media (max-width: 768px) {
  .row-cols-md-2 {
    row-gap: 1rem;
  }
  .product-image-container {
    width: 100%;
    height: auto; 
  }
}

@media (max-width: 576px) {
  .row-cols-1 {
    margin-bottom: 2rem;
  }
  .product-image-container {
    width: 100%;
    height: auto; 
  }
}
