<div class="container my-5">
    <div class="row">
        <div class="col-md-8">
            <div class="main-content">
                <button class="btn btn-link p-0 m-0" routerLink="/admin" style="font-size: 2.5rem; text-decoration: none; color: black;">
                    Admin Oldal
                </button> 
                <p>Válasszon a jobb oldali menüből a műveletekhez, vagy nézze a listázott termékeket.</p>
            </div>
        </div>

        <div class="col-md-4 sidebar">
            <div class="d-flex flex-column">
                <button routerLink="/admin/users" class="btn btn-outline-dark mb-3">Felhasználók kezelése</button>
                <button routerLink="/admin/productlist" class="btn btn-outline-dark mb-3">Termékek kezelése</button>
                <button class="btn btn-outline-dark mb-3" data-bs-toggle="modal" data-bs-target="#exampleModal">Termékek hozzáadása</button>
            </div>
        </div>

        <div class="container my-5">
            <h1 class="text-center mb-4">Rendeléseink</h1>
        </div>
        <div>
            <p class="text-center">Rendelések</p>
        </div>
    </div>
</div>