.container {
    display: flex;
  }
  
  .sidebar {
    width: 250px; /* Sidebar szélessége */
    background-color: #f4f4f4;
    padding: 20px;
  }
  
  .main-content {
    flex-grow: 1; /* A jobb oldali tartalom kitölti a maradék helyet */
    padding: 20px;
  }
  .sidebar {
    width: 200px;
    height: 800px;
    background-color: #101010;
    color: white;
    padding: 20px;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar li {
    margin: 10px 0;
  }
  
  .sidebar a {
    color: white;
    text-decoration: none;
    font-size: 16px;
  }
  
  .sidebar a:hover {
    background-color: #34495e;
    padding-left: 10px;
  }
  