<h2>Rendelések</h2>

<table class="table">
  <thead>
    <tr>
      <th>Felhasználó</th>
      <th>Dátum</th>
      <th>Tételek</th>
  </thead>
  <tbody>
    <tr *ngFor="let order of orders">
      <td>{{ searchUser(order.uId)}}</td>
      <td>{{ order.date | date: 'yyyy-MM-dd HH:mm' }}</td>
      <td>
        <div *ngFor="let item of order.items">
            <span>ID: {{item.productId}}, </span>
            <span >{{item.piece}} Darab, </span>
            <span>{{item.price}} Ft</span>


        </div>
      </td>
      <td>
        <button class="btn btn-danger btn-sm" (click)="deleteOrder(order.id)">Törlés</button>
      </td>
    </tr>
  </tbody>
</table>
