body {
    background-color: #f7f7f7;
    color: #333333;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}
  
.container {
    max-width: 100%;
    height: 100%;
    padding: 20px;
}
  
.nav-tabs {
    border-bottom: 2px solid #ccc;
}

.nav-tabs .nav-link {
    color: #333;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0;
    font-weight: bold;
}
  
.nav-tabs .nav-link:hover, .nav-tabs .nav-link.active {
    color: #fff;
    background-color: #333;
    border-color: #444;
}
  
.tab-pane {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    margin-top: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
  
.tab-pane p {
    font-size: 1.1rem;
    line-height: 1.5;
}
  
button {
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px 15px;
    color: #fff;
    background-color: #333;
    border: 1px solid transparent;
    transition: background-color 0.3s ease;
    cursor: pointer;
}
  
button:hover {
    background-color: #555;
    border: transparent;
}

.navbar, .navbar-nav, .form-control, .form-label, .form-control:focus {
    background-color: transparent !important;
    color: #333 !important;
    border-color: #ccc !important;
}

.form-control:focus {
    background-color: #fff !important;
    border-color: #333 !important;
    box-shadow: 0 0 5px rgba(51, 51, 51, 0.2) !important;
}

.btn {
    color: #fff !important;
    background-color: #333 !important;
    border: 1px solid transparent !important;
    cursor: pointer;
}

.btn:hover {
    background-color: #555 !important;
}

/* Styling for orders */
.order {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 15px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.order h3 {
    color: #333;
}

.order-items ul {
    list-style-type: none;
    padding: 0;
}

.order-items li {
    margin: 10px 0;
}

.total-price {
    font-size: 1.2em;
    margin-top: 20px;
    font-weight: bold;
}

@media (max-width: 768px) {
    .container {
        padding: 0 10px;
    }
}
