.flag-icon {
    width: 20px; /* Igazítsd az ikon méretét igény szerint */
    margin-bottom: 3px;
  }
  button {
    border: none;         /* Törli a gomb keretét */
    background: transparent; /* Törli a gomb háttérszínét */
    padding: 0;            /* Nincs belső margó */
    cursor: pointer;       /* Mutatja, hogy interaktív */
  }
  
  button:focus {
    outline: none; /* Nincs fókusz keret */
  }
  