.basket-container {
    width: 100%;
    padding: 10px;
    background-color: #f7f7f7;
    text-align: center;
  }
  
  .product {
    display: flex;
    align-items: center;
    padding: 15px;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .product-image {
    max-width: 100px;
    max-height: 100px;
    margin-right: 20px;
  }
  
  .product-details {
    flex: 1;
  }
  
  .product-details h3 {
    font-size: 18px;
    margin: 0;
    font-weight: bold;
  }
  
  .artist, .price {
    font-size: 14px;
    color: #777;
  }
  .delete-btn {
    background-color: transparent;
    color: #ff2727;
    font-weight: bold;
    border: 2px solid #ff2727;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.4s; 
    margin-right: 20px;
  }
  
  .delete-btn:hover {
    background-color: #ff0000;
    color: white;
  }

.pay-btn {
  background: linear-gradient(145deg, #56ab2f, #a8e063);
  color: white;
  font-size: 18px;
  padding: 12px 30px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);


}

.pay-btn:hover {
  background: linear-gradient(145deg, #a8e063, #56ab2f);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.payment-popup, .success-popup {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 300px;
}

.payment-popup input[type="radio"] {
  margin: 10px;
}

.confirm-btn, .close-btn {
  background-color: #56ab2f;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
}

.confirm-btn:hover, .close-btn:hover {
  background-color: #8bcc3b;
}

.success-icon {
  margin: 20px 0;
}

.success-icon svg {
  width: 80px;
  height: 80px;
  fill: none;
}

.success-popup h3 {
  color: #56ab2f;
  font-size: 24px;
}

.success-popup .close-btn {
  background-color: #050505;
  border-radius: 50px;
}

.success-popup .close-btn:hover {
  background-color: #272727;
}

input[type="text"] {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="text"]:focus {
  border-color: #4CAF50;
  outline: none;
}

input[required] {
  background-color: #f9f9f9;
}

input[type="text"]::placeholder {
  color: #aaa;
}
