<!DOCTYPE html>
<html lang="hu">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bakelit</title>
</head>
<body>

    <div class="main-content">
        <div class="card">
            <button class="btn-link w-100 text-start" routerLink="/admin/productlist">Termék Oldal</button>
        </div>
        <div class="card">
            <button class="btn-link w-100 text-start" routerLink="/admin/users">Felhasználói Oldal</button>
        </div>
        <div class="card">
            <button class="btn-link w-100 text-start" routerLink="/admin/orders">Rendelések</button>
        </div>
    </div>    

</body>
</html>
