<div class="container">
    <div>
        <h1>Termék Oldal</h1>
    </div>
    <div>
        <button routerLink="/admin/users" class="btn btn-outline-dark mb-3">Felhasználók kezelése</button>
        <button routerLink="/admin/orders" class="btn btn-outline-dark mb-3">Rendelések kezelése</button>
        <button routerLink="/admin/productlist" class="btn btn-outline-dark mb-3">Termékek oldal</button>
         Gomb, amely megnyitja a modális ablakot
        <button class="btn btn-outline-success mb-3" data-bs-toggle="modal" data-bs-target="#exampleModal">Termék hozzáadása</button>
    </div>
</div>

<!-- Modális ablak -->



<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Termék Hozzáadása</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label  for="product-title" class="form-label">Termék Címe</label>
                        <input [(ngModel)]="newProduct.title" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="product-title" placeholder="Adja meg a lemez nevét">
                    </div>
                    <div class="mb-3">
                        <label  for="product-artist" class="form-label">Előadó neve</label>
                        <input [(ngModel)]="newProduct.artist" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="product-artist" placeholder="Adja meg a lemez nevét">
                    </div>
                    <div class="mb-3">
                        <label for="product-image-url" class="form-label">A Borító Url-je</label>
                        <input [(ngModel)]="newProduct.imageUrl" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="product-image-url" placeholder="Adja meg a kép URL-jét">
                    </div>
                    <div class="mb-3">
                        <label for="product-genre" class="form-label">Műfaja</label>
                        <input [(ngModel)]="newProduct.genre" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="product-genre" placeholder="Adja meg a műfaját">
                    </div>
                    

                    <div class="mb-3">
                        <label for="product-price" class="form-label">Ára:</label>
                        <input [(ngModel)]="newProduct.price" [ngModelOptions]="{standalone: true}" type="number" class="form-control" id="product-price" placeholder="Az összege">
                    </div>

                    <div class="d-flex justify-content-between">
                        <button (click)="addProduct()" class="btn btn-outline-success">Termék hozzáadása</button>
                        <button type="button" class="btn btn-secondary ms-auto" data-bs-dismiss="modal">Bezárás</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Cím</th>
                <th>Előadó</th>
                <th>Műfaj</th>
                <th>Ár</th>
                <th>Műveletek</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of filteredProducts; let i = index">
                <td>{{ i + 1 }}</td>
                <td><input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" [(ngModel)]="product.title" ></td>
                <td><input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" [(ngModel)]="product.artist" ></td>
                <td><input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" [(ngModel)]="product.genre" ></td>
                <td><input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" [(ngModel)]="product.price" ></td>
                <td>
                    <button type="button" class="btn btn-warning" (click)="editProduct(product)">Szerkesztés</button>
                    <button type="button" class="btn btn-danger" (click)="deleteProduct(product)">Törlés</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- [(ngModel)]="product.price" -->